<h2>Toppage</h2>
<div class="container form-group text-center">
    <div class="row">
      <div class="col-xs-6 center-block bg-image-phone">
        <%= image_tag "image1.jpg", :width => '100' %>
      </div>
      <div class="col-xs-6 center-block">
        <div>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= image_tag "instagram_title.png", :width => '150' %>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
        
          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>
        
          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>
        
          <div class="actions">
            <%= f.submit "Log in" %>
          </div>
          <% end %>
        
          <%- resource_class.omniauth_providers.each do |provider| %>
            <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %><br />
          <% end %> 
          <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
          <%= link_to "Sign up", new_registration_path(resource_name) %><br />
          
        </div>
      </div>
    </div>
  </div>
</div>
