<div class="row">
  <div class="col-6">
      <%= image_tag @post.contain.url(:gallery) %>
      <br>
      <%= link_to "←BACK", user_url(:id) %>
  </div>
  <div class="col-6">
    <div>
    <%= image_tag avatar_url(@post.user), class: "rounded-circle", :size =>'50x50' %>
    <strong><%= @post.user.name %></strong>
    <% if current_user == @post.user %>
      <%= link_to "削除", post_path(@post), method: :delete, data: { confirm: "削除しますか?" }, class: "float-right" %>
    <% end %>
    </div>
    <hr>
<% @comments.each do |c| %>
  <div>
    <a href="/users/<%= @post.user.id %>"><%= c.user.email %></a>
    <%= c.content %>
    <hr>
  </div>
<% end %>

<%= form_for [@post, @comment] do |f| %>
  <%= f.text_field :content %>
  <br>
  <%= f.submit '投稿' %>
<% end %>
    <hr>
    <div>
      <%= image_tag 'fab-heart-blank.png',:height =>'30' %>
    </div>
  </div>
</div>
